body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #444; /* Light background for modern feel */
  }
  
  .navbar {
    background-color: #333; /* Dark background for navbar */
    padding: 15px;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    color:#f4f4f9;
    margin: 0 10px;
  }
  
  .nav-link {
    display: block;
    padding: 10px 20px;
    background-color: #444; /* Darker shade for the link boxes */
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for link boxes */
  }
  
  .nav-link:hover {
    background-color: #e63946; /*Modern red color for hover effect */
    transform: translateY(-3px); /* Slight lift on hover */
    cursor: pointer;
  }
  
  .nav-link:active {
    background-color: #d62828; /* Slightly darker color when clicked */
  }
  
  .image-container {
    /* border: 1px solid black; */
    padding: 20px;
    /* margin-top: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    overflow: hidden; /* Ensures the sliding effect is smooth */
  }

  /* When the image is loaded, move it into place */
  .slide-in {
    transform: translateX(0);
    outline: 3px solid red;
    /* background-color: #e63946; */
    width: 900px;
  }
  
  .featured-image {
    width: 300px;
    height: 200px;
    outline: 3px solid gold;
    background-color: #333;
    transform: translateX(-100%); /* Initially place the image off-screen to the left */
    transition: transform 0.6s ease-in-out; /* Transition effect */
  }

  .imgslide {
    background-color: #333;
    position: relative;
    left: 0;
    top: 0;
    opacity: 100%;
    width: 300px;
    height: 200px;
    /* animation: slideshow 3s linear infinite; */
    /* animation-iteration-count: 1 */

  }
  
  @keyframes slideshow {
    0% {
      left: -100%;
      opacity: 0%;
    }
  
    100% {
      left: 0%;
      opacity: 100%;
    }
  }
  


