body {
    font-family: 'Arial', sans-serif;
    margin: auto auto; /* Keep body centered*/
    padding: 0;
    background-color: #444; /* Light background for modern feel */
  }

  .social-links {
    position: fixed;
    left: calc(1.5vmin);
    top: 50%;
    transform: translateY(-50%);
    margin-right: auto;
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
    gap: 1.75vmin;
  }

  .social-links::before,
  .social-links::after {
    content: "";
    position: absolute;
    left: calc(3.25vmin);
    width: 0.2vmin;
    height: 120%;
    /* max-height: 100%; */
    background-color: white;
  }
  
  .social-links::before {
    top: -120%;
    bottom: calc(100%); /* Adjust to reach the first link */
    margin-top: -1.1vmin;
    /* margin-bottom: -0.5vmin; */
  }
  
  .social-links::after {
    top: calc(100%); /* Adjust to start after the last link */
    bottom: 0;
    margin-top: 1.1vmin;
  }  
  
  .social-links a {
    display: inline-block;
    /* font-size: 24px; */
    /* color: #333; */
    font-size: 2.75vmin;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .fa {
    /* padding: 20px; */
    padding: 2vmin;
    font-size: 2vmin;
    height: 2.5vmin;
    width: 2.5vmin;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    /* background: #3B5998; */
    background: #000000;
    color: white;
    /* margin: 5px 2px; */
  }
    
    /* Add a hover effect if you want */
    .fa:hover {
      opacity: 0.7;
      background: #3B5998;
      transform: translateY(-10%);
      transition: transform 0.3s;
    }
  
    .fa:focus, .fa:active { 
      text-decoration: none;
      /* background: #3B5998; */
      color: white;
    }
  
    .fa-google, .fa-google:focus, .fa-google:active {
      /* background: #dd4b39; */
      background: #000000;
      color: white;
    }
    .fa-google:hover {
      background: #dd4b39;
    }
  
    .fa-linkedin, .fa-linkedin:focus, .fa-linkedin:active {
      /* background: #007bb5; */
      background: #000000;
      color: white;
    }

    .fa-linkedin:hover {
      background: #007bb5;
    }
  
    .fa-github, .fa-github:focus, .fa-github:active {
      background: #000000;
      color: white;
    }  

    .fa-github:hover {
      background: #000000;
    }
  
  .navbar {
    background-color: #333; /* Dark background for navbar */
    padding: 15px;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
  
  .nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    color:#f4f4f9;
    margin: 0 10px;
  }
  
  .nav-link {
    display: block;
    padding: 10px 20px;
    /* height: calc(24% - 4px); */
    min-height: 20px; /* Consistent minimum height for all links */
    background-color: #444; /* Darker shade for the link boxes */
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for link boxes */
  }
  
  .nav-link:hover {
    background-color: #e63946; /*Modern red color for hover effect */
    transform: translateY(-3px); /* Slight lift on hover */
    cursor: pointer;
  }
  
  .nav-link:active {
    background-color: #d62828; /* Slightly darker color when clicked */
  }
  
  .image-container {
    /* border: 1px solid black; */
    padding: 20px;
    /* margin-top: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    overflow: hidden; /* Ensures the sliding effect is smooth */
  }

  /* When the image is loaded, move it into place */
  .slide-in {
    transform: translateX(0);
    outline: 3px solid red;
    /* background-color: #e63946; */
    width: 900px;
  }
  
  .featured-image {
    width: 300px;
    height: 200px;
    outline: 3px solid gold;
    background-color: #333;
    transform: translateX(-100%); /* Initially place the image off-screen to the left */
    transition: transform 0.6s ease-in-out; /* Transition effect */
  }

  .imgslide {
    background-color: #333;
    position: relative;
    left: 0;
    top: 0;
    opacity: 100%;
    width: 300px;
    height: 200px;
    /* animation: slideshow 3s linear infinite; */
    /* animation-iteration-count: 1 */

  }
  
  @keyframes slideshow {
    0% {
      left: -100%;
      opacity: 0%;
    }
  
    100% {
      left: 0%;
      opacity: 100%;
    }
  }

  /* For mobile portrait mode. Mobile landscape mode should work fine if it's treated like a desktop.*/
  @media (orientation: portrait) {
    .nav-list {
      flex-direction: column;
    }
    .nav-item {
      margin: 2px 10px;
    }
  }

  @media screen and (max-width: 768px) {
    .social-links {
      z-index: 9999;
      position: fixed;
      left: 0;
      bottom: 0;
      top: auto;
      width: 100%;
      height: auto;
      flex-direction: row;
      justify-content: center;
      gap: 5vmin;
      padding: 3vmin 0;
      background: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    }

    .fa {
      color: #000000;
      background: white;
    }
  
    /* Remove vertical white lines */
    .social-links::before,
    .social-links::after {
      display: none;
    }
  
    /* Resize icons for mobile */
    .social-links a {
      width: 3vmin;
      height: 3vmin;
      font-size: 3vmin;
    }
  }


