.AboutMe {
    background-color: #333;
    /* min-height: 50vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position: relative;
    max-width: 100%;
    /* overflow-x: hidden; */
    /* width: 100%; */

  }



/* General layout */
.resume-container {
  padding: 20px;
  max-width: calc(85%);

  /* Set both the left and right margin to auto to center the container */
  margin: auto auto;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;  
  padding: 20px;
  background-color: #333;
  color: white;
  font-family: "Lucida Console";     
}

.resume-title {
  font-size: calc(3vmin);
  font-weight: bold;
  margin-bottom: 20px;
  width: 100%;
}

.resume-container.visible3 {
  opacity: 1;
}

/* h2 {
  /* color: #fdfdfd; 
  margin-bottom: 20px;
  font-size: 24px;
} */

/* Section layout */
.resume-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* gap: 20px; */
  justify-content: space-around;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  margin: 0px;
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
}

/* Box styling */
/* .resume-box {
  /* background-color: #ffffff; 
  /* border: 2px solid #bbb; 
  /* border-radius: 10px; 
  padding: 20px;
  width: calc(54% - 40px);
  min-width: 300px;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid gray;
  position: relative;
} */

.resume-header {
  width: 100%;
  background-color: #222;
  color: white;
  padding: 15px;
  border: none;
  display: flex;
  margin: 0px;
  justify-content: space-between;
  align-items: center;
  /* font-size: 16px; */
  font-size: calc(3px + 1.5vmin);
  cursor: pointer;
  transition: background 0.3s ease;
}

.resume-header:hover {
  background-color: #333;
}

.resume-header.active {
  background-color: #007bff;
  /* width: 100%; Ensure the button spans the full width */
}

/* .resume-box:hover {
  background-color: #e6f7ff;
  border-color: #007bff;
  transform: translateY(-5px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
} */

/* .resume-box h3 {
  color: #6b8e23;
  margin-bottom: 10px;
}

.resume-box p {
  color: #333;
  margin: 5px 0;
} */

/* Expand/collapse icon */
.icon {
  /* font-size: 18px; */
  font-size: calc(2px + 1.5vmin);
}

/* Accordion content (hidden by default) */
.resume-content {
  background-color: #111;
  color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  padding: 0 15px;
  font-size: calc(9px + 0.6vmin);
  /* gap: 1px;   */
}

/* Show content when active */
.resume-content.open {
  max-height: 1000%;
  padding: 15px;
}

.resume-item {
  border-bottom: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(255, 255, 255);
}

/* Prevent changes to <a> links */
.resume-item a {
  all: unset; /* Removes all inherited styles */
  color: inherit; /* Keeps the original color */
  text-decoration: none;
}

/* Job title in details */
.job-title {
  color: #ffffff;
  font-family: "Lucida Console"; 
  /* font-weight: bold; */
}

/* Job period */
.job-period {
  color: rgb(255, 255, 255);
  /* font-style: italic; */
}

/* Job details */
.job-details {
  margin-top: 5px;
  margin-left: 5px;
  color: rgb(255, 255, 255);
}

/* Projects (and experience) container styling */
/* .projects-container {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
} */

/* .project-box {
  background-color: #eeeeee; /* background color for the bullet point description 
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  color: #333;
  transition: all 0.3s ease;
  border: 1px solid #ddd;
} */

/* .project-box:hover {
  background-color: #000000;
  color: #fff;
  border-color: #007bff;
} */

/* Skills container styling */
.skills-container {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.skill-box {
  background-color: #000000;
  border-radius: 5px;
  padding: 5px 10px;
  /* font-size: 14px; */
  font-size: calc(2px + 1.3vmin);
  color: #ffffff;
  transition: all 0.3s ease;
  border: 1px solid #ddd;
}

.skill-box:hover {
  background-color: #0e1801;
  color: #fff;
  border-color: #66a113;
}

/* Responsiveness */
@media (max-width: 768px)  or (orientation: landscape) {
  /* .resume-box {
    width: calc(50% - 40px);
  } */
}

@media (max-width: 480px) or (orientation: portrait) {
  /* .resume-box {
    width: 100%;
  } */
  /* .resume-header {

  } */
  .resume-container {
    max-width: 100%;
  }
}