.App {
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* This css class gets added to every css class visible in Headers. It cannot be part of an existing class. */
  .visible {
    opacity: 1;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #333;
    min-height: 50vh;
    width: calc(62%);
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position: relative;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
.myInput {
    color: 'blue'
  }
  
  .myInput::placeholder {
    color: #4b4949; /* Tailwind red-50 */
  }

.Paragraph-header {
  color: white;
  justify-content: center;
  width: calc(64% - 40px);
  min-width: 300px;
  text-align: justify;
  text-justify: inter-word;
  font-family: "Lucida Console"
}

  .Paragraph-header h3 { 
    text-align: center;
    /* font-family: "Papyrus"; */
  }

  .Paragraph-header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: calc(44% - 40px);
    border-style: solid;
    border-color:white;
  }

  .Paragraph-header .centered-paragraph {
    text-align: center;
  }

  .Paragraph-header form {
    justify-content: center;
    text-align: center;
  }

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  background: #3B5998;
  color: white;
  margin: 5px 2px;
}
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }

  .fa:focus, .fa:active { 
    text-decoration: none;
    background: #3B5998;
    color: white;
  }

  .fa-google, .fa-google:focus, .fa-google:active {
    background: #dd4b39;
    color: white;
  }

  .fa-linkedin, .fa-linkedin:focus, .fa-linkedin:active {
    background: #007bb5;
    color: white;
  }

  .fa-github, .fa-github:focus, .fa-github:active {
    background: #000000;
    color: white;
  }

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 3.5s;  
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }

.graduation {
  width: 250px; 
  height: 375px; 
  border-style: solid;
  border-color:white;
}